/* Responsive CSS Styles Table of Contents */

@media only screen and (min-width: 1696px) and (max-width: 1920px){
	
.section_category7 .testimonials {
 padding: 60px 0px 129px !important;
 
}
	
.section_category7 .sec_title { width:85%;}
.section_category17 .sec_title2 { width:85%;}
	
.news {padding-bottom:89px;}
.titlebar.three { height: auto; }
.titlebar.three .breadcrumb {
margin: -180px 0px 0px;
}
.titlebar.three .breadcrumb h1{margin:0px 0px 5px;}
	
}

@media only screen and (min-width: 1170px) and (max-width: 1366px){
	
.section_category7 .testimonials {
width: 65%;
padding: 60px 0px 159px;
margin-left: 35%;	
}

.section_category17 .l-news {

    width: 88%;
    padding: 60px 0px 112px;
    margin-left: 12%;

}

.section_category17 .choose {
width: 90%;
padding: 60px 0px 60px 0px;
margin-right: 10%;
}

.section_category22 .team {
 width: 88%;
 margin-left: 12%;
}

.section_category22 .testimonials2 {
    width: 90%;
    padding: 60px 0px 87px 0px;
    margin-right:10%;

}

.section_category23 .img-hover .text-box .icon-1.two {
left: 80px;
}
.scrollup.green {
 right: 1%;
}

.background-imgholder {
 background-position: 22% 77% !important;
}
.section_category15 .col-md-offset-3 {
    margin-left: 40%;
}

.section_category28 .col-lg-3{width: 11%;}
.section_category28 .col-lg-9{width: 89%;}
.section_category28 .col-lg-6{width: 78%;}

.section_category28 .margin-top4 {
margin-top: 64px;
}

.section_category28 .margin-top5 {
margin-top: 78px;
}

.section_category30 .col-lg-5 {
 width: 75%;
}
.section_category30 .section-orange-3 {
 padding: 0 15px;
}
.section_category30 .col-lg-3 {
    width: 7%;
}
.section_category30 .col-lg-9 {
    width: 92%;
}

.section_category28 #recent-works .img-work .text-box {
    top: 160px;
}

.section_category28 #recent-works .img-work .text-box h5{
font-size:17px;
}
#recent-works .img-work:hover .text-box {
	top:0;
}
.section_category28 #recent-works .img-work .text-box p{ margin-bottom:15px; line-height:20px;}

.section_category35 .team {
width: 90%; margin-left: 10%;

}
.section_category35 .testimonials2 {
    width: 90%;
    padding: 60px 0px 81px 20px;
    margin-right: 10%;
}

.section_category33 .col-lg-4 {
    width: 10%;
}
.section_category33 .col-lg-8 {
    width: 90%;
}

.section_category38 .col-lg-8 {
    width: 92.66666667%;
} 
	
.section_category42 .right img {
right: -100px;

}

.titlebar { height:200px;}
.titlebar img{ height:200px;}
.breadcrumb {
 margin: 120px 0px 0px;
}
.breadcrumb h1 { margin: 0px 0px 10px; }
.pagenation {
    text-align: center;
    margin-right: 0px;
}
.titlebar.three { height: auto; }
.titlebar.three .breadcrumb {
margin: -130px 0px 0px;
}
.titlebar.three .breadcrumb h1{margin:0px 0px 5px;}

.section_category49 .image-wrap{
	width:650px;	
}
.section_category49 .image-wrap img{
height:775px;	
}

	
}




@media only screen and (min-width: 1000px) and (max-width: 1169px){
	
	.slider.margintop {
    top: 0px; height:100%;
}

.container{ width:100%;}

.section_category7 .testimonials {
width: 75%;
padding: 60px 0px 165px;
margin-left: 25%;	
}
.news {

    width: 80%;
    padding: 80px 0px 80px 50px;
    margin-right: 20%;

}

.section_category17 .l-news {

    width: 100%;
    padding: 60px 0px 112px;
    margin-left: 0%;

}

.section_category17 .choose {
width: 100%;
padding: 60px 0px 60px 0px;
margin-right: 0%;
}

.pricetable .price-box {
border-left: 220px solid #323232;

}

.pricetable.active .price-box {
border-left: 220px solid #498af3;
}

.topbar.green .topbar-right-items .toplist li {
 padding: 0px 6px;
}

.section_category22 .team {
 width: 100%;
 margin-left: 0%;
}

.section_category22 .team .our-team{
margin-bottom: 30px;	
}

.section_category22 .testimonials2 {
    width: 100%;
    padding: 60px 0px 108px 20px;
    margin-right:0%;

}

.section_category23 .img-hover .text-box .icon-1.two {
left: 80px;

}
.background-imgholder {
 background-position: 22% 77% !important;
}
.section_category15 .col-md-offset-3 {
    margin-left: 45%;
}

.section_category27 .tab-style {
  padding: 20px 0px;
}

.section_category42 .right img {
right: -250px;

}

.titlebar { height:200px;}
.titlebar img{ height:200px;}
.breadcrumb {
 margin: 120px 0px 0px;
}
.breadcrumb h1 { margin: 0px 0px 10px; }
.pagenation {
    text-align: right;
    margin-right: 40px;
}
.titlebar.three { height: auto; }
.titlebar.three .breadcrumb {
margin: -130px 0px 0px;
}
.titlebar.three .breadcrumb h1{margin:0px 0px 5px;}

}

@media only screen and (max-width: 999px) {
	
#header {
position: relative;

}

.navbar {
    background: #FFF;
    height: 55px;
    margin-left: 0px;
}

#header2 .navbar {
height: 55px;

}

.container{ width:100%;}
.slider.margintop {
    top: 0px; height:100%;
}
.section_category1 {
padding: 30px 0px 30px 0px;	
}

.section_category1 .box{
  margin-bottom: 90px;	
}
.col-lg-7.margin-left-7 {
	margin-left:10px;

}

.section_category3 #triangle-up { 
 margin: 0px auto 20px; float:none;
}
.section_category3 #triangle-up.margin-left-2 {
    margin: 0px auto 20px;
}
.section_category3 #triangle-down { 
margin: 0px auto 20px; float:none;
}

.social-icons-2 {
text-align: left;
}

.section_category6 .box-left {
padding: 0px 20px 23px 0px;
margin-bottom: 40px;
}

.section_category6 .box-left a {
bottom: 0px;
right: 0px;
}

.section_category6 .box-left2 {
padding: 0px 0px 23px 20px;
margin-bottom: 40px;
}

.section_category6 .box-left2 a {
bottom: 0px;
right: 0px;
}

.section_category6 .box img{
width:100%;
}

.section_category8 { padding-bottom:0px; }

.section_category8 .teambox {
 margin-bottom: 150px;
}
.section_category8 .teambox:last-child {
 margin-bottom: 150px;
}

.section_category9 {
padding: 40px 0px 40px 0px;
}

.section_category12 {
padding: 40px 0px 40px 0px;
}

.section_category13 {
padding: 40px 0px 210px 0px;

}

.section_category12 .services {
margin-bottom: 20px;
}

.section_category12 .lineright {
    border-right: 0px double #eee;
}

.section_category12 hr{
display:none;
}


.section_category14 {
padding: 40px 0px 40px 0px;
}

.section_category15 {
 padding: 40px 0px 20px 0px;
}

.section_category15 .col-md-offset-3 {
    margin-left: 45%;
}

.section_category18 {
padding: 40px 0px 40px 0px;
}

.testimonial-box {
margin-bottom: 40px;
 float: left;
}
.background-imgholder {
 background-position: 22% 68% !important;
}

.parallax-section8 .parallax-overlay {
	padding:50px 20px;
	
}

.topbar.dark2 .container{
padding:0px;	
}
.topbar.dark2 .social-icons-1 {
    margin: -40px 0 0; padding: 5px 15px 10px 15px;
     border-left: 0px solid #1a1a1a;
}
.topbar.dark2 .topbar-left-items .toplist li.lineright {
    border-right: 0px solid #1e1e1e;
}
#header6 .navbar {
    margin-left: 0px;
    height: 52px;background: rgba(0,0,0,0.9) !important;
}

.section-orange-5.sec-topmargin{margin-top:0px;}
.section_category32 .margin-left-2{ margin-left:0px;}

.section_category35 .team {
width: 100%; margin-left: 0%;
}
.section_category35 .testimonials2 {
   width: 100%;
   padding: 60px 0px 60px 20px;
    margin-right: 100%;

}

.testimonials7_box .client-img {
 position: relative;
 margin-right:20px;
}
.testimonials7_box .description {
    width: 72%; float: left;
}
.testimonials7_box::before {
    top: 192px; left:0px;
    margin-left: 35px;
   
}


}

@media only screen and (min-width: 980px){
.section_category7 .left {
	background-size:cover;
	
}
.section_category7 .testimonials {
width: 50% !important;
padding: 60px 0px 109px;
margin-left: 50% !important;	
}
.blog-post .post-text .date {
 margin-top: -10.8%;
}

	
}

@media only screen and (min-width: 768px) and (max-width: 999px){
	
.colmargin {
    margin-bottom: 30px;
}
	
/*.sticky-wrapper{ height:500px;}*/

.topbar-left-items {
 width: 60%;
}
	
.container{ width:100%;}



.section_category7 .testimonials {
width: 60%;
padding: 60px 0px 109px;
margin-left: 40%;	
}



.section_category7 .left .sec_title h1::after {
 float: none;
}

.testimonials1 .textbox {
width: 100%; float:none;
}
.testimonials1 .text-box-right {
    padding: 0px 0px 0px 30px;
      text-align: left;
}

.section_category17 .l-news {

    width: 100%;
    padding: 60px 0px 112px;
    margin-left: 0%;

}

.section_category17 .choose {
width: 100%;
padding: 60px 0px 60px 0px;
margin-right: 0%;
}
.social-icons-3 {
margin: 20px 0 20px;

}
.usefull-links-2 {
margin: 0px 0 60px;
}

.topbar.green .topbar-left-items {
    padding: 10px 0px;
    width: 100%;
    border-right: 0px solid #2bc9ac;
}
.topbar.green .topbar-right-items {
    width: 60%;
   
}
.topbar.green .topbar-right-search {
    width: 40%;
    float:right !important;
    padding: 0px 0px 10px;
}

.topbar.green .topbar-right-items .toplist li:first-child {
    margin-left: 0px;
}
.topbar.green .topbar-right-items .toplist li {
     line-height: 20px;
    padding: 0px 5px;
}

.section_category22 .team {
 width: 100%;
 margin-left: 0%;
}

.section_category22 .team .our-team{
margin-bottom: 30px;	
}

.section_category22 .testimonials2 {
    width: 100%;
    padding: 60px 0px 60px 20px;
    margin-right:0%;

}

.section_category23 .img-hover .text-box .icon-1.two {
left: 120px;
}

.section_category25 .news-box {

 margin-left: 70px; margin-bottom:30px;
padding: 0 10px 30px 10px; width:90%;
}

.section_category25 h2 {
 text-align: center !important;
 margin-left: 0px;
}

.demo .demo-1 { margin:0 31%;}

.topbar.fulldark .toplist li.lineright {
  margin-left:0px;
}

.section-side-image .text-inner {
    padding: 0px 0px 80px 0;

}

.section_category27 .tab-style {
padding: 20px 0px;
}
.section_category27 .tab-style .tabs1 li.active a::after {
margin-top:20px;	
}
.section_category27 .tab-style .tabs1 li.active:nth-child(2n) a::after {
    margin: 20px 0 0 -68px;
}
.section_category27 .tab-style .tabs1 li.active:nth-child(3n) a::after {
    margin: 20px 0 0 -83px;
}
.section_category27 .tab-style .tabs1 li.active:nth-child(4n) a::after {
    margin: 20px 0 0 -80px;
}
.section_category27 .tab-style .tabs1 li.active:nth-child(5n) a::after {
    margin: 20px 0 0 -80px;
}

.newsletter2 {  width: 80%; }

#recent-works .works {
padding-left: 20px;
}

#recent-works .img-work { margin-bottom:25px; }

#recent-works .img-work img{ height:230px; }

#recent-works .img-work-holder {
 padding: 20px 0 0;

}
#recent-works .img-work .text-box {
  top: 190px;
}
#recent-works .img-work .text-box h5{
  line-height:18px;
}
#recent-works .right-box {
padding: 80px 0px 180px;

}

#recent-works .margin-top8{
	margin-top:0px;
	
}

.section-dark.three .iconbox-small {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.section-dark.three h1{ font-size:28px;}

#header5 .navbar {
 height: 60px;
}

.section_category28 #recent-works .img-work .text-box {
top: 85%;	
}
.section_category28 #recent-works .img-work .text-box h5{
font-size:16px;	
}
#recent-works .img-work:hover .text-box {
	top:0;
}

.blog-thumbnail { width:100%;}
.blog-thumbnail img{ width:100%;}

.diamond3 {margin:0px 30px 30px 0px; float:left; }
.diamond3.last-child{margin-right:auto;}

.diamond3.top-less-margin{ margin-top:0px !important;}
.diamond3.margin-left-5{ margin-left:auto;}

.section_category31 img{ margin-bottom:20px;}

.parallax-section14 .btn{margin-bottom:30px;}

.topbar.white {
	padding-top:0px;
}
.topbar.white .topbar-left-items {
    width: 30%;
}
.topbar.white .topbar-right-items {
   width: 33%;
}

.section_category36 {
margin-top: 0px;
padding: 50px 0px 20px;
}
.feature-box4 {
width: 100%;
margin: 0px auto 40px;
}

.feature-box4 .margin-top6 {margin-top: 0px;}
.feature-box4 h3::after{display:none;}

.section_category37 img{margin: 20px 0px 30px;}
.parallax-section16 .btn {
    padding: 12px 30px;
    margin-right: 0;
}
.parallax-section18 {
    background-position: center;
    height: 200px;
}
.pricetable-holder3 {
 margin: 0px 0px 40px;
}

.device {
    margin-top: 0px;
}

.section-copyrights.light .menu {
    text-align: center;
}
.section-copyrights.light {
text-align: center;
}

#header8 .navbar { height: 50px; }
.services_grid {margin: -40px 0px 0px;}
.services_grid .services { padding: 25px 0px 14px; }
.section_holder {
padding: 200px 0 315px 0;
}
.section_holder h1 { line-height: 60px;}
.section_category42 .right img { display: none; }
.section_category42 {padding: 170px 0px 80px;}
.l_projects { margin: 0px 0px 30px;}
.section-dark.five .newsletter .input_submit { margin-bottom: 90px; }
.section-copyrights.fulldark5 {text-align: center;}
.social-icons-2.pink {margin-top: 10px;text-align: center;}

.topbar.dark3 .topbar-left-items {
 width: 47%;
}
.topbar.dark3 .topbar-right-items {
 width: 53%;
}
.topbar.dark3 .topbar-right-items .toplist2 {
 padding: 0px;
}
.topbar.dark3 .topbar-right-items .toplist2 li {
border-left: 0px solid #363636;
}
#header9 .navbar {height: 55px;}
.section_category51 .col-xs-offset-2 {
    margin-left: 0;
}
.the_blog { margin-bottom:30px; }
.testimonials7_box::before {
 top: 170px;
}
.team-holder2 .img-holder .icon-box { top: 350px; }
.team-holder2:hover .icon-box, .team-holder2.active .icon-box {
	top: 285px;
}
.section-orange-2 {
text-align: center;
}
.btn.btn-border.white-3.pull-right { float: none !important; }
.section-full-dark .text-box-right {
padding: 0px 0px 0px 90px;

}
.section-copyrights.fulldark6 {
text-align: center; 
}
.section-copyrights.fulldark6 .margin-top1{ margin-bottom:15px;}

.titlebar { height:110px;}
.titlebar img{ height:110px;}
.breadcrumb {
 margin: 40px 0px 0px;
}
.breadcrumb h1 { margin: 0px 0px 10px; }
.pagenation {
    text-align: right;
    margin-right: 40px;
}
.titlebar.two .pagenation { display:none;}

.titlebar.three { height: auto; }
.titlebar.three .breadcrumb {
margin: -85px 0px 0px;
}
.titlebar.three .breadcrumb h1{margin:0px 0px 5px;}

.titlebar.four {
height: auto;
margin: 0px 0px 0px;
}
.titlebar.four .breadcrumb {
margin: 30px 0px 0px;
}
.topbar-left-items {
    width: 70%;
}

.section-full-dark.sec-padding {
padding: 60px 0 0px 0;	
}

}

@media only screen and (min-width: 478px) {
	
.section_category17 .choose {
    position: relative;
    width: 95%;
    float: left;
    padding: 73px 0px 65px 30px;
    margin-right: 5%;
    transition: all 0.3s ease-out 0s;
}

}

@media only screen and (min-width: 478px) and (max-width: 767px){

.news {
    width: 90%;
    padding: 80px 0px 80px 50px;
    margin-right: 10%;

}
	
.section_category7 .testimonials {
width: 90%;
padding: 60px 0px 109px;
margin-left: 10%;	
}
.testimonials1 .textbox {
width: 100%; float:none;
}
.testimonials1 .text-box-right {
    padding: 0px 0px 0px 30px;
      text-align: left;
}
	
.img-responsive {width:100%;}
	
.colmargin { margin-bottom:40px;}
.topbar-middle-logo {
width: 100%;
}

.topbar.green .topbar-left-items {
    padding: 10px 0px;
    width: 100%;
    border-right: 0px solid #2bc9ac;
}
.topbar.green .topbar-right-items {
    width: 100%;
    border-right: 0px solid #2bc9ac;
}
.topbar.green .topbar-right-search {
    width: 100%;
    float:left !important;
    padding: 10px 0px;
}

.topbar.green .topbar-right-search.pull-right {
	  float:left !important;
}

.topbar.green .topbar-right-items .toplist li:first-child {
    margin-left: 0px;
}
.topbar.green .topbar-right-items .toplist li {
     line-height: 20px;
    padding: 0px 15px;
}
.section-light .btn {
  float: left !important;
}
a.read-more.dark {
  float: left !important;
}
.parallax-section8 h1 {
 line-height: 40px;
}

.section_category19 .services {
margin: 0px 0 20px;

}

.section_category22 .team {
 width: 100%;
 margin-left: 0%;
}

.section_category22 .team .our-team{
margin-bottom: 30px;	
}

.section_category22 .testimonials2 {
    width: 100%;
    padding: 60px 0px 60px 20px;
    margin-right:0%;

}
.section_category23 .img-hover .text-box .icon-1.two {
left: 120px;

}
.section_category25 .news-box {
width: 94%;
 margin-left: 3%; margin-bottom:30px;
padding: 0 10px 30px 10px;
}
.section_category25 .news-box .img-thumb {
    width: 100%;
    height: auto;
     margin: 0px 0px 20px 0px;
}
.section_category25 h2 {
 text-align: center;
 margin-left: 0px;
}
.demo .demo-1 { margin:0 40%;}

.section-copyrights .text-right{ text-align:left;}

.topbar.fulldark .toplist li.lineright {
  margin-left:0px;
}

.section-side-image .text-inner {
    padding: 0px 0px 50px 0;
 
}
.section_category27 .tab-style {
 padding: 10px 0px;
	
}
#recent-works .img-work-holder {
padding: 0px 0px;  
}

#recent-works .img-work .text-box {

    top: 95%;
}

#recent-works .img-work {
 margin-bottom: 25px;

}

#header5 .navbar {
 height: 60px;
}

.topbar.white .topbar-left-items {
    width:100%;
}
.topbar.white .toplist.toppadding {
    padding-top: 0px; padding-bottom:15px;
}
.topbar.white .topbar-middle-logo {
    margin: 0 auto;
    padding: 12px 0 20px;
    width: 100%;

}
.topbar.white .topbar-right-items {
    width: 100%;
}

.social-icons-3.white {
    float: none;
    margin: 0px 0px 0px;
}
.section_category36 {
margin-top: 0px;
padding: 50px 0px 20px;
}
.feature-box4 {
width: 100%;
margin: 0px auto 40px;
}

.feature-box4 .margin-top6 {margin-top: 0px;}
.feature-box4 h3::after{display:none;}

.section_category37 img{margin: 20px 0px 30px;}
.parallax-section16 .btn {
    padding: 12px 30px;
    margin-right: 0;
}
.parallax-section18 {
    background-position: center;
    height: 200px;
}
.pricetable-holder3 {
 margin: 0px 0px 40px;
}

#header8 .navbar {height: 50px;}

.services_grid { margin: 0px 0px 0px; }

services_grid .services {
 padding: 25px 0px 14px;
}

.services_grid .services .ser_icon {
font-size: 30px; line-height: 30px;
}
.services_grid .services h3 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    margin: 0px;
}

.section_holder {
padding: 100px 0 215px 0;
}
.section_holder h1 {
font-size: 40px;
line-height: 40px;
}
.section_holder h2 {
font-size: 30px;
line-height: 40px;
}

.section_category42 { padding: 150px 0px 50px; }
.section_category42 .right img {
   display:none;
}
.section_category42 .btn { margin-bottom:40px;}
.section_category43 h3 {margin-top:20px;}
.section_category43 .lineright {
    border-right: 0px double #dddddd;
}
.section_category43 .margin-top8{margin-top: 40px;}

.section_category44 h2 {
    font-size: 30px;
    margin: 0px auto 30px;
    width: 300px;
}
.section_category44 h1 {
    font-size: 32px;
}
.section_category44 .btn {
 margin: 0px 5px 10px;
}

.section_category45 .iconbox-xmedium {width:90px; height:90px;}
.section_category45 .iconbox-xmedium i { font-size: 50px;line-height: 50px; }
.team_member { margin-bottom: 30px;}
.l_projects {margin-bottom: 30px;}
.image-left { float: none; padding:0px;}
.section-copyrights.fulldark5 {text-align: center;}
.social-icons-2.pink {margin-top: 10px;text-align: center;}


.topbar.dark3 .topbar-left-items {
 width: 100%;
}
.topbar.dark3 .topbar-right-items {
    width: 100%;
}

.topbar.dark3 .topbar-left-items .toplist li {
    padding: 13px 10px;
}
.topbar.dark3 .topbar-left-items .toplist li.lineright {
    border-right: 0px solid #363636;
}
.topbar.dark3 .social-icons-1 {
   float: left; border-left: 0px solid #363636;
}
.topbar.dark3 .social-icons-1 li a {
    width: 35px;
    height: 35px;
    padding: 0px;
    line-height: 35px;
   border-right: 0px solid #363636;
}
.topbar.dark3 .topbar-right-items .toplist2 {
 padding: 0px;
}
.topbar.dark3 .topbar-right-items .toplist2 li {
    padding: 9px 10px;
    border-left: 0px solid #363636;
}
#header9 .navbar {
 height: 50px;
}

.section_category48 .info-box {
 margin: 0px auto 30px;
}
.parallax-section28 h2 {
line-height: 40px;
}
.btn.btn-red-7 { margin-bottom: 20px; }

.section_category51 .col-xs-offset-2 {
    margin-left: 0;
}
.section_category51 h1.big {
font-size: 50px;
line-height: 50px;
}
.the_blog {
margin-bottom:30px;
}
.section_category53 .testimonials2{ margin-bottom:50px;}
.testimonials7_box .client-img {
    float: none;
    position: relative;
    margin: 0 auto 20px;
}
.testimonials7_box .description {
    width: 100%;
 float: none;
text-align: center;

}
.testimonials7_box::before { display:none; }
.testimonials7 .arrow-down { display:none; }
.testimonials7 .text-box-right {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.testimonials7 .text-box-right h5 {
   text-align: center;
}
.section_category53 .owl-theme .owl-controls {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
}
.team-holder2 {
margin-bottom: 20px;
}
.team-holder2 .img-holder .icon-box { top: 420px;}

.team-holder2:hover .icon-box, .team-holder2.active .icon-box {
	top: 370px;
}
.section-orange-2 {
text-align: center;
}
.btn.btn-border.white-3.pull-right { float: none !important; }
.section-full-dark .text-box-right {
padding: 0px 0px 0px 90px;

}
.section-copyrights.fulldark6 {
text-align: center; 
}
.section-copyrights.fulldark6 .margin-top1{ margin-bottom:15px;}
.titlebar { height:110px;}
.titlebar img{ height:110px;}
.breadcrumb {
 margin: 20px 0px 0px;
}
.breadcrumb h1 { margin: 0px 0px 10px; }
.titlebar.two .pagenation { display:none;}

.titlebar.three { height: auto; }
.titlebar.three .breadcrumb {
margin: -85px 0px 0px;
}
.titlebar.three .breadcrumb h1{margin:0px 0px 5px;}
.titlebar.four {
height: auto;
margin: 0px 0px 0px;
}
.titlebar.four .breadcrumb {
margin: 20px 0px 0px;
}

}


@media only screen and (max-width: 479px) {
.img-responsive {width:100%;}	
.colmargin { margin-bottom:40px;}

.section_category6 .box-left {
   
    padding: 0px 0px 0px 0px;

}

.section_category6 .box-left img {
    width: 100%;
    margin-right: 0px;
}

.section_category6 .box-left a {
    right: 20px; bottom:20px;
}

.section_category6 .box-left2 {
 padding: 0px 0px 0px 0px;
}

.section_category6 .box-left2 img {
    width: 100%;
    margin-right: 0px;
}
.section_category6 .box-left2 a {
    left: 20px; bottom:20px;
}

.section_category6 .box-left h3, .section_category6 .box-left h6, .section_category6 .box-left p {
    padding: 0px 15px 0px;
   
}
.section_category6 .box-left2 h3, .section_category6 .box-left2 h6, .section_category6 .box-left2 p {
    padding: 0px 15px 0px;
   
}

.section_category7 .testimonials {
 width: 100%;
 padding: 60px 0px 112px;
 margin-left:0%;
}
.testimonials1 .textbox {
 width:100%; float:none;
}



.testimonials1 .text-box-right {
padding: 0px 0px 0px 20px;
text-align: left;
}

.news {
    position: relative;
    width: 100%;
    padding: 60px 0px 40px 0px;
    margin-right: 0%;

}

.text-box-right {
 padding: 0px 0px 0px 100px;
}

.topbar-left-items {
width: 100%;
}
.toplist li {
padding: 0 8px 8px 8px;
}

.topbar-right-items {
width: 100%;
}


.section_category14 .info-box {
margin: 0px auto 20px;

}
.section_category14 .margin-left-2 {
    margin-left: 0px;
}

.blog-post {
 margin: 0px 0px 30px;
}

.blog-post .post-img {
width: 100%;
}
.blog-post .post-text {
width: 100%;
}

.section_category17 .left {
padding-bottom: 40px;
}

.section_category17 .l-news {
 width: 100%;
    padding: 40px 0px 40px;
    margin-left: 0%;
}

.section_category17 .news-box .v-line {
display:none;
}
.section_category17 .news-box .thumb {
 margin: 0px 0 0 0;

}

.section_category17 .news-box .date {
position: absolute;
margin: -31px 0px 20px 38%;
 
}
.section_category17 .choose {
width: 100%;
padding: 40px 0px 40px 0px;
margin-right: 0%;

}

.section_category17 .choose .client-box {
margin: 0px 5px 20px 0px;
}


.topbar-middle-logo {
width: 100%;
}

.topbar.green .topbar-left-items {
    padding: 10px 0px;
    width: 100%;
    border-right: 0px solid #2bc9ac;
}
.topbar.green .topbar-right-items {
    width: 100%;
    border-right: 0px solid #2bc9ac;
}
.topbar.green .topbar-right-search {
    width: 100%;
    float:left !important;
    padding: 10px 0px;
}

.topbar.green .topbar-right-search.pull-right {
	  float:left !important;
}

.topbar.green .topbar-right-items .toplist li:first-child {
    margin-left: 0px;
}
.topbar.green .topbar-right-items .toplist li {
     line-height: 20px;
    padding: 0px 15px;
}
.section-light .btn {
  float: left !important;
}
a.read-more.dark {
  float: left !important;
}
.parallax-section8 h1 {
 line-height: 40px;
}
.section_category22 .team {
 width: 100%;
 margin-left: 0%;
}

.section_category22 .team .our-team{
margin-bottom: 30px;	
}

.section_category22 .testimonials2 {
    width: 100%;
    padding: 60px 0px 60px 20px;
    margin-right:0%;

}
.section_category23 .img-hover .text-box .icon-1.two {
left: 120px;

}
.section_category25 .news-box {
width: 94%;
 margin-left: 3%; margin-bottom:30px;
padding: 0 10px 30px 10px;
}
.section_category25 .news-box .img-thumb {
    width: 100%;
    height: auto;
     margin: 0px 0px 20px 0px;
}
.section_category25 h2 {
 text-align: center !important;
 margin-left: 0px;
}
.demo .demo-1 { margin:0 31%;}

.section-copyrights .text-right{ text-align:left;}

.topbar.fulldark {
    text-align: center;
    margin: 0 auto;
    float: none;
}

.topbar.fulldark .toplist li.lineright {
  margin-left:0px;
}

.parallax-section10 h1, .parallax-section10 .choose .text, 
.parallax-section10 .choose p{
padding-left:15px;padding-right:15px;	
}
.parallax-section10 .btn {
margin-left:15px;	
}

.section-side-image .text-inner {
padding: 0px 0px 60px 0;

}
.section_category27 .tab-style {
 padding: 20px 0px;
}

.section_category27 .btn{
margin-bottom:20px;	
}

.testimonials4 {
 width: 100%;
padding: 5%;

}
.testimonials4 .client-img {
 float: none;
 right: 0px; position: relative;
 margin:10px auto 20px;

}
.testimonials4 .description {
 width: 100%;
}

.testimonials6 {
 width: 100%;
padding: 5%;

}
.testimonials6 .client-img {
 float: none;
 right: 0px; position: relative;
 margin:10px auto 20px;

}
.testimonials6 .description {
 width: 100%;
}

.email_input { width: 100%; }

#recent-works .img-work-holder {
padding: 15px;
}

#recent-works .img-work {margin-bottom:20px; }

.section-dark.three .colmargin {
 margin-bottom: 10px;
}
.social-icons-3.brown {
    margin: 20px 0 0;
}

#header5 .navbar {
 height: 60px;
}

.blog-thumbnail {
margin-bottom:20px;
}

.blog-detail:before{
top: 20px;
}

.blog-detail:after{
bottom: 20px;
}

.latest-blog-border{
padding: 20px 20px;
}

.blog-thumbnail:hover .latest-blog-border {
    padding: 25px 30px;
}
.event-excerpt {
width: 90%;
}

.diamond3 {margin:0px auto 30px; float:none; }
.diamond3.last-child{margin-right:auto;}

.diamond3.top-less-margin{ margin-top:0px !important;}
.diamond3.margin-left-5{ margin-left:auto;}

.section_category31 img{ margin-bottom:20px;}

.parallax-section14 .btn{margin-bottom:30px;}


.topbar.white .topbar-left-items {
    width:100%;
}
.topbar.white .toplist.toppadding {
    padding-top: 0px; padding-bottom:15px;
}
.topbar.white .topbar-middle-logo {
    margin: 0 auto;
    padding: 12px 0 20px;
    width: 100%;

}
.topbar.white .topbar-right-items {
    width: 100%;
}

.social-icons-3.white {
    float: none;
    margin: 0px 0px 0px;
}

.blog-thumbnail img {
 height: 280px;
}

.section_category33 .feature-box {
 padding: 64px 30px 60px;
}

.section_category36 {
margin-top: 0px;
padding: 50px 0px 20px;
}
.feature-box4 {
width: 100%;
margin: 0px auto 40px;
}

.feature-box4 .margin-top6 {margin-top: 0px;}
.feature-box4 h3::after{display:none;}

.section_category37 img{margin: 20px 0px 30px;}
.parallax-section16 .btn {
    padding: 12px 30px;
    margin-right: 0;
}
.parallax-section18 {
    background-position: center;
    height: 200px;
}
.pricetable-holder3 {
 margin: 0px 0px 40px;
}
.scrollup.dark { bottom: 120px;}

#header8 .navbar {height: 50px;}

.services_grid { margin: 0px 0px 0px; }

services_grid .services {
 padding: 25px 0px 14px;
}

.services_grid .services .ser_icon {
font-size: 24px; line-height: 24px;
}
.services_grid .services h3 {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    margin: 0px;
}

.section_holder {
padding: 100px 0 215px 0;
}
.section_holder h1 {
font-size: 40px;
line-height: 40px;
}
.section_holder h2 {
font-size: 30px;
line-height: 40px;
}

.section_category42 { padding: 150px 0px 50px; }
.section_category42 .right img {
   display:none;
}
.section_category42 .btn { margin-bottom:40px;}
.section_category43 h3 {margin-top:20px;}
.section_category43 .lineright {
    border-right: 0px double #dddddd;
}
.section_category43 .margin-top8{margin-top: 40px;}

.section_category44 h2 {
    font-size: 30px;
    margin: 0px auto 30px;
    width: 300px;
}
.section_category44 h1 {
    font-size: 32px;
}
.section_category44 .btn {
 margin: 0px 5px 10px;
}

.section_category45 .iconbox-xmedium {width:90px; height:90px;}
.section_category45 .iconbox-xmedium i { font-size: 50px;line-height: 50px; }
.team_member { margin-bottom: 30px;}
.l_projects {margin-bottom: 30px;}
.image-left { float: none; padding:0px;}
.section-copyrights.fulldark5 {text-align: center;}
.social-icons-2.pink {margin-top: 10px;text-align: center;}
.social-icons-2 li a { margin: 0 0px 5px 0;}

.topbar.dark3 .topbar-left-items .toplist li {
    padding: 13px 10px;
}
.topbar.dark3 .topbar-left-items .toplist li.lineright {
    border-right: 0px solid #363636;
}
.topbar.dark3 .social-icons-1 {
   float: left; border-left: 0px solid #363636;
}
.topbar.dark3 .social-icons-1 li a {
    width: 35px;
    height: 35px;
    padding: 0px;
    line-height: 35px;
   border-right: 0px solid #363636;
}
.topbar.dark3 .topbar-right-items .toplist2 {
 padding: 0px;
}
.topbar.dark3 .topbar-right-items .toplist2 li {
    padding: 9px 10px;
    border-left: 0px solid #363636;
}
#header9 .navbar {
 height: 50px;
}

.section_category48 .info-box {
 margin: 0px auto 30px;
}
.parallax-section28 h2 {
line-height: 40px;
}
.btn.btn-red-7 { margin-bottom: 20px; }

.section_category51 .col-xs-offset-2 {
    margin-left: 0;
}
.section_category51 h1.big {
font-size: 50px;
line-height: 50px;
}
.the_blog {
margin-bottom:30px;
}
.section_category53 .testimonials2{ margin-bottom:50px;}
.testimonials7_box .client-img {
    float: none;
    position: relative;
    margin: 0 auto 20px;
}
.testimonials7_box .description {
    width: 100%;
 float: none;
text-align: center;

}
.testimonials7_box::before { display:none; }
.testimonials7 .arrow-down { display:none; }
.testimonials7 .text-box-right {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.testimonials7 .text-box-right h5 {
   text-align: center;
}
.section_category53 .owl-theme .owl-controls {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
}
.team-holder2 {
margin-bottom: 20px;
}
.team-holder2:hover .icon-box, .team-holder2.active .icon-box {
	top: 248px;
}
.section-orange-2 {
text-align: center;
}
.btn.btn-border.white-3.pull-right { float: none !important; }
.section-full-dark .text-box-right {
padding: 0px 0px 0px 90px;

}
.section-copyrights.fulldark6 {
text-align: center; 
}
.section-copyrights.fulldark6 .margin-top1{ margin-bottom:15px;}

.titlebar { height:110px;}
.titlebar img{ height:110px;}
.breadcrumb {
 margin: 20px 0px 0px;
}
.breadcrumb h1 { margin: 0px 0px 10px; }

.titlebar.two .pagenation { display:none;}

.titlebar.three { height: auto; }
.titlebar.three .breadcrumb {
margin: -85px 0px 0px;
}
.titlebar.three .breadcrumb h1{margin:0px 0px 5px;}

.titlebar.four {
height: auto;
margin: 0px 0px 0px;
}
.titlebar.four .breadcrumb {
margin: 20px 0px 0px;
}


.sec-padding {
    padding: 15px 0px;
}

.blog-holder-12 .image-holder .overlay {
    padding: 5px;
}

.blog-holder-12 .post-date-box {
    font-size: 16px;
    height: 40px;
    padding: 5px 0 0;
    width: 40px;
    line-height: 20px;
}
.blog-holder-12 .post-date-box span {
    font-size: 12px;
    padding-top: 0;
	line-height: 14px;
}
.blog-holder-12 .post-date-box.two {
    top: 40px;
}

}



